*.suo
*.user
*.userosscache
*.sln.docstates

.vs/
.idea/
*.sln.iml

[Oo]bj/
[Bb]in/

[Ll]ogs/
[Tt]est[Rr]esult*/

*.mdf
*.ldf
*.ndf
healthchecksdb

**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
*.snupkg

/node_modules
/wwwroot/node_modules
npm-debug.log
yarn.lock
yarn-error.log

*.DS_Store
Thumbs.db

appsettings.Development.json
secrets.json
*.pfx

.env
