name: Deploy Trash Tech Blog

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      - name: Build
        run: dotnet build --configuration Release
      - name: Test
        run: dotnet test

  deploy:
    needs: build-and-test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: [self-hosted, raspi5]
    steps:
      - uses: actions/checkout@v4
      - name: Build and Restart Docker
        run: |
          docker compose build
          docker compose up -d
          docker image prune -f
